/* Videos.css */
.videos-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  
}

.outer{
  background: url('https://images.unsplash.com/photo-1606092195730-5d7b9af1efc5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
  background-size: cover;
}

.videos-heading {
  font-size: 42px; /* Increased heading size */
  margin-bottom: 30px; /* Increased margin */
  color: #fff; /* Blue color for the heading */
}

.video-sections {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.video-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse; /* Alternate video and text */
  background-color: #f9f9f9; /* Light gray background color */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  position: relative;
}

.video-section.even {
  flex-direction: row; /* Reverse for even sections */
  background-color: lightyellow; /* Light green background color for even sections */
  opacity: 0.9;
}

.video-section.odd {
  background-color: lightyellow; /* Light green background color for even sections */
  opacity: 0.9;
}

.video {
  width: 50%;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.video iframe {
  width: 100%;
  height: 100%;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffcc80; /* Light orange background color for play button */
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.play-button:hover {
  background-color: #ff5722; /* Darker orange on hover */
}

.text {
  width: 45%;
  text-align: left;
}

.text h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333; /* Dark text color for headings */
}

.text p {
  font-size: 18px;
  color: #555; /* Slightly darker text color for content */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .video-section {
    flex-direction: column; /* Stack video on top of text for smaller screens */
  }

  .video,
  .text {
    width: 100%;
  }
}
