/* Cards.css */

.cards {
    background-color: #fff;
    padding: 50px 0;
    text-align: center;
  }
  
  .cards-heading {
    font-size: 2.5rem; /* Increase heading size */
    margin-bottom: 20px;
    color: #333;
    margin-top: 3rem;

  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center cards horizontally */
    gap: 20px;
  }
  
  .card {
    background-color: #fff; /* White background */
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    flex: 0 1 calc(30% - 20px); /* Decrease card width and allow wrapping */
    text-decoration: none;
    color: #333;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin-bottom: 20px; /* Add spacing between cards */
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .card-description {
    font-size: 1rem;
  }
  
  /* Color classes for cards */
  .card-blue {
    background-color: #6f42c1; /* Blue */
    color: #fff;
  }
  
  .card-green {
    background-color: #dc3545; /* Green */
    color: #fff;
  }
  
  .card-purple {
    background-color: #6f42c1; /* Purple */
    color: #fff;
  }
  
  .card-red {
    background-color: #dc3545; /* Red */
    color: #fff;
  }
  
  .card-orange {
    background-color: #6f42c1; /* Orange */
    color: #fff;
  }
  
  .card-yellow {
    background-color: #dc3545; /* Yellow */
    color: #333; /* Dark text color */
  }
  