/* Contact.css */

.contact {
    background-color: #f4f4f4;
    padding: 50px 0;
    text-align: center;
  }
  
  .contact-content {
    max-width: 800px; /* Increased max width */
    margin: 0 auto;
  }
  
  .contact-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .contact-description {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #555;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group {
    margin-bottom: 20px;
    width: 90%; /* Increase width of form groups */
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid gray; /* Blue border */
    border-radius: 5px;
    color: #555;
  }
  
  textarea.form-control {
    resize: vertical;
  }
  
  .contact-button {
    background-color: gray;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  

  /* Add a focus effect for input fields */
  .form-control:focus {
    border-color: #555;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 86, 179, 0.5);
  }
  
  /* Add a hover effect for the button */
  .contact-button:hover {
    background-color: black;
    transform: scale(1.05); /* Slightly scale up on hover */
  }
  