nav {
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    background: linear-gradient(to right, #f32170, #be421c,#cf23cf, #cc6b33);
    transition: background-color 0.3s, transform 0.3s, opacity 0.3s;
    color: #fff;
    opacity: 1;
    font-size: 15px;
  }
  
  nav a{
    padding: 1rem;
    font-size: 1rem;
  }
  
  nav a:hover{
    font-weight: 800;
  }
  
  nav.scrolling {
    opacity: 0.8; 
  }
  
  .logo{
    width: 3rem;
    margin-left: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
  }
  
  .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: none;
    margin-right: 1rem;
  }
  
  .bar {
    width: 40px;
    height: 40px;
  }
  
  .menu {
    display: flex;
    gap: 4rem;
    
  }
  
  
  @media (max-width: 512px) {
    body.menu-open {
      overflow: hidden;
    }
  
    .menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to right, #f32170, #be421c,#cf23cf, #cc6b33);

      transform: translateX(-100%);
      transition: transform 0.3s ease-in-out;
      align-items: center;
      text-align: center;
      z-index: 1000;
    }
  
    .menu.active {
      transform: translateX(0);
      
    }
  
    .menu-toggle {
      display: flex;
      top: 1rem;
      right: 1rem;
      z-index: 1001;
    }
  }
  